
@{
    Layout = "_Layout";
}
@using SweetAndSavory.Models
@model SweetAndSavory.Models.Treat

<div class="text-center">
    <h1>Add a New Treat</h1>
</div>


<div class="container">
    @using (Html.BeginForm())
    {
        <div class="text-center">
            <div class="form-group">
                @Html.LabelFor(model => model.TreatName)
                @Html.TextBoxFor(model => model.TreatName, new { @class = "form-control" })
                <p class="text-danger">@Html.ValidationMessageFor(model => model.TreatName)</p>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Add New Treat</button>
        </div>
    }
</div>


<div class="text-center container mt-5">
    <div class="link-container">
        <p>@Html.ActionLink("Back to All Treats", "Index", null, new { @class = "btn btn-secondary" })</p>
    </div>
</div> 